.error-page {
    margin-top: 30%;
}
pre {
    font-size: 10px;
}
fieldset {
    min-width: auto;
    padding: initial;
    margin: initial;
    border: solid 1px black ;
}
legend {
    width: auto;
    font-size: 18px;
}


.ghost {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    border-style: dashed;
}

.dragging {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

.drag-place-holder {
    height: 0px !important;
    margin-top: -5px;
    overflow: hidden;
    border-bottom: 2px dashed blue;
}
.hidden {
    display:none;
}

.task {
    border: solid #b2b2b2 1px;
    margin-bottom: 10px;
    width: calc(100% - 10px);
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    box-shadow: 3px 3px 5px 0px #adb5bd
}
}
.project-column {
    padding: 0px;
    margin: 5px;
}
.project-column .card-body {
    padding: 0px;
}
.wrapper {
    padding: 15px 0;
}