.error-page {
    margin-top: 30%;
}
pre {
    font-size: 10px;
}
fieldset {
    min-width: auto;
    padding: initial;
    margin: initial;
    border: solid 1px black ;
}
legend {
    width: auto;
    font-size: 18px;
}